@import url("https://fonts.googleapis.com/css?family=DM Sans");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-primary p-3 pt-0;
}

.heroBg {
    background-image: url("../src/assets/heroBg.png");
    @apply bg-cover bg-no-repeat bg-center;
}

.upload {
    position: absolute;
    top: 10px;
    right: calc(50% - 120px);
    animation: upload 1s;
}

@keyframes upload {
    from {
        transform: translateY(-100px);
    }
}